body{background-color: orange}
test body{background-color: yellow}
h1{color: red;    font-size:   50px; text-decoration: underline}
    h2{color: blue;   font-size:   40px; text-orientation: sideways}
	h3{color: yellow; font-size:   30px; text-decoration-color: rgb(green)}
    h4{color: green;  font-size:   20px}
    .small{font-size: 10px}
    span{font-style: italic; color: red}
    h3 span{color: blue; background-color: red}